#salam {
	margin-top: 20vh !important;
	margin-bottom: 1vh !important;
	text-align: center;
}

.profil {
	margin-bottom: 20vh;
}

.gambar {
	border-radius: 10vh;
}

.isi {
	padding-left: 63vh !important;
}

.alert {
	margin-left: -60vh !important;
}

.jalan {
	font-size: 20px;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

.logo {
	font-size: 40px;
	font-family: Ravie;
}

.keterangankiri {
	margin-top: 10vh !important;
	margin-left: 1.5vh;
	width: 600px !important;
}

.keterangankanan {
	margin-top: 10vh !important;
	padding-left: 15vh;
	width: 610px !important;
}

h1 {
	font-size: 7vh;
}

.content {
	padding-top: 10vh;
	margin-bottom: 10vh;
}

.main {
	padding-top: 5vh !important;
}

.bd-placeholder-img {
	height: 90vh !important;
}

.tambahan {
	margin-bottom: 30vh !important;
}

footer {
	margin-top: 20px;
	background-color: #4d4d4d;
	color: white;
}

.log {
	font-size: 3vh;
	margin-left: 20px;
}

.social .fa {
	color: grey;
	font-size: 22px;
	padding: 10px 15px;
	background: #3c3c3c;
}

footer ul li {
	list-style: none;
	display: block;
}

footer ul {
	padding-left: 0;
}

footer ul li a {
	text-decoration: none;
	color: grey;
	text-decoration: none;
}

.fab {
	font-size: 10vh;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: #f5f5f5 !important;

}

#osm {
	font-size: 10vh;
	font-family: Ravie;
}
.dropdown-item {
    color: black !important;
}
.dropdown-item:hover {
    color:black !important;
}
.navbar-collapse {
	margin-left: 106.5vh;
}
.navbar-brand {
	margin-left: 16.5vh;
}
/* untuk login */

